
body {
    font-family: "Open Sans", sans-serif, bold;
    font-size: 1rem;
    font-weight: 400;
    color: #555555;
}

.file-structure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-structure__list {
    list-style: none;
}

.file-structure__list-item {
    
}

.file-structure__name {
    font-weight: 600;
}


.file-structure__list-item--folder {
}

.file-structure__list-item--file {
    
}

.file-structure__description {
    color: #999999;
    font-weight: 400;
    font-size: 10px;
}

.file-structure__link {
    text-decoration: none;
    color: #555555;
}

.file-structure__link::hover {
    color: #555555;
}